model {
  faster_rcnn {
    number_of_stages: 3
    num_classes: 1
    image_resizer {
      fixed_shape_resizer {
        height: 224
        width: 224
      }
    }
    feature_extractor {
      type: "faster_rcnn_mobilenet_v1"
      first_stage_features_stride: 16
    }
    first_stage_anchor_generator {
      grid_anchor_generator {
        height_stride: 16
        width_stride: 16
        scales: 0.25
        scales: 0.5
        scales: 1.0
        scales: 2.0
        aspect_ratios: 0.5
        aspect_ratios: 1.0
        aspect_ratios: 2.0
      }
    }
    first_stage_box_predictor_conv_hyperparams {
      op: CONV
      regularizer {
        l2_regularizer {
          weight: 0.0
        }
      }
      initializer {
        truncated_normal_initializer {
          stddev: 0.00999999977648
        }
      }
    }
    first_stage_nms_score_threshold: 0.699999988079
    first_stage_nms_iou_threshold: 0.699999988079
    first_stage_max_proposals: 10
    first_stage_localization_loss_weight: 2.0
    first_stage_objectness_loss_weight: 1.0
    initial_crop_size: 14
    maxpool_kernel_size: 2
    maxpool_stride: 2
    second_stage_box_predictor {
      mask_rcnn_box_predictor {
        fc_hyperparams {
          op: FC
          regularizer {
            l2_regularizer {
              weight: 0.0
            }
          }
          initializer {
            variance_scaling_initializer {
              factor: 1.0
              uniform: true
              mode: FAN_AVG
            }
          }
        }
        use_dropout: false
        dropout_keep_probability: 1.0
        conv_hyperparams {
          op: CONV
          regularizer {
            l2_regularizer {
              weight: 0.0
            }
          }
          initializer {
            truncated_normal_initializer {
              stddev: 0.00999999977648
            }
          }
        }
        predict_instance_masks: true
        mask_prediction_conv_depth: 0
        mask_height: 15
        mask_width: 15
        mask_prediction_num_conv_layers: 2
      }
    }
    second_stage_post_processing {
      batch_non_max_suppression {
        score_threshold: 0.699999988079
        iou_threshold: 0.699999988079
        max_detections_per_class: 10
        max_total_detections: 10
      }
      score_converter: SOFTMAX
    }
    second_stage_localization_loss_weight: 2.0
    second_stage_classification_loss_weight: 1.0
    second_stage_mask_prediction_loss_weight: 4.0
  }
}
train_config {
  batch_size: 1
  data_augmentation_options {
    random_horizontal_flip {
    }
  }
  keep_checkpoint_every_n_hours: 1
  optimizer {
    momentum_optimizer {
      learning_rate {
        manual_step_learning_rate {
          initial_learning_rate: 9.99999974738e-05
          schedule {
            step: 1500000
            learning_rate: 9.99999974738e-06
          }
          schedule {
            step: 2000000
            learning_rate: 9.99999997475e-07
          }
        }
      }
      momentum_optimizer_value: 0.899999976158
    }
    use_moving_average: false
  }
  gradient_clipping_by_norm: 10.0
  fine_tune_checkpoint: "/home/gustav/workspace/tensorflow/training/checkpoints/mask_rcnn_mobilenet_v1_224_coco_person/train/model.ckpt-7450"
  from_detection_checkpoint: true
}
train_input_reader {
  label_map_path: "/home/gustav/workspace/tensorflow/training/dataset/pers_coco_label_map.pbtxt"
  load_instance_masks: true
  tf_record_input_reader {
    input_path: "/home/gustav/workspace/tensorflow/training/dataset/person_train.record"
  }
  mask_type: PNG_MASKS
}
eval_config {
  num_examples: 1000
  use_moving_averages: false
  visualize_groundtruth_boxes: true
}
eval_input_reader {
  label_map_path: "/home/gustav/workspace/tensorflow/training/dataset/pers_coco_label_map.pbtxt"
  shuffle: false
  num_readers: 1
  load_instance_masks: true
  tf_record_input_reader {
    input_path: "/home/gustav/workspace/tensorflow/training/dataset/person_eval.record"
  }
  mask_type: PNG_MASKS
}
